{% extends 'layoutAccount.html.twig' %}


{% block main %}
    <section class="flex-spAround width-50">
        <article>
            <a href="{{ path('aboutUs') }}">About as</a>
        </article>
        <article>
            <a href="{{ path('app_register') }}">Login</a>
        </article>
    </section>
{% endblock %}